<h1>
    Codeial/<%= title %>
</h1>


<section id="feed-article">
    <h4>Articles</h4>
    <% if(locals.user) {%>
    <form action="/articles/create" id="new-article-form" method="POST">
        <textarea name="title" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <br>
        <br>
        <textarea name="description" cols="50" rows="13" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>

    <div id="articles-list-container">
        <ul>
            <% for(article of articles){%>
            <li>
                <p>
                    <%= article.title %>
                    <br>
                    <%= article.description %>
                    <br>
                    <small>
                       <%= article.user.name %>
                    </small>
                    <br>
                    <small>
                        <%= article.createdAt %>
                    </small>

                    <div class="likes-container">
                        <% if(locals.user && locals.user.id != article.user.id){ %>
                            <a href="/likes/toggle/?id=<%= article.id %>&type=Article" class="toggle-like-button" data-likes="<%= article.likes.length %>"><%= article.likes.length %> Likes</a>
                        <% }else{ %>
                            <span style="color: blue;"><%= article.likes.length %> Likes</span>
                        <% } %>
                    </div>
                    
                </p>
            </li>
            <%}%>
        </ul>
    </div>

</section>